body {
	margin: 0;
}

.main {
	min-height: 600px;
}

.navbar .navbar-brand {
	color: rgba(255, 255, 255, .85);
	font-size: 1rem;
	padding-top: .45rem;
}

.btn,
.active {
	transition: .4s;
}

.swiper-slide img {
	width: 100%;
	height: 120px;
}

#about-api, #list-div {
	text-align: center !important;
}

#about-api img, #list-div img {
	width: auto;
}

#about-api .list-group-item {
	margin-left: auto;
    margin-right: auto;
}

#list-div {
	margin-top: 50px;
}

#list-div .list-group {
	color: #0275d8;
	max-height: 500px;
    overflow-y: auto;
}
#list-div .list-group .item{
	padding: 25px;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: right;
}

.footer small {
	padding: 10px;
    font-family: monospace;
    font-size: 12px;
}

.btn-group-custom {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-consulta, .btn-limpiar, .btn-crear {
	cursor: pointer;
}

.btn-editar, .btn-eliminar {
	background: none;
}

.btn-editar {
	position: absolute !important;
    right: 0 !important;
    margin-right: 80px !important;
}

.btn-eliminar {
	position: absolute !important;
    right: 0 !important;
    margin-right: 5px !important;
}

.loadingList {
	display: none;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.66);
}

.loadingForm {
	display: none;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.66);
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
}

.sin-datos {
	color: rgba(255, 0, 0, 0.71) !important;
	margin-left: auto;
	margin-right: auto;
}

.span-lastname {
	
}

.span-dni {
	color: deeppink;
}

#form-div {
	text-align: center !important;
}

#form-div form {
	margin-top: 20px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.btn-editar-confirmar {
	display: none;
}
